@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Inter:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@500&family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    font-family: 'Montserrat', sans-serif;
}
.two-lines {
    word-wrap: break-word;
  }

  .div-gradient {
    background:linear-gradient(179.87deg, #343045 0.47%, #343045 0.47%, #C0B7E8 35.21%, #8176AF 68.91%, #343045 99.5%);
  }
  .div-gradient2 {
    background: linear-gradient(44.81deg, #243045 53.33%, #C1B7E8 68.37%, #9176AF 86.48%, #343045 99.31%);
  }
  

  .icon { 
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color:#C0B7E8;
    padding: 5px;
    margin-right: 1rem;
  }
  .icon2 { 
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color:#C0B7E8;
    padding: 5px;
  }



.boxColor { 
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}


.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-weight: bold;
}

.swiper-button-prev::after { 
  margin-left: 5px;
}

.swiper-button-next::after { 
margin-right: 5px;
}
